body{
background:#081b29;
color:white;
font-family:Segoe UI,sans-serif;
scroll-behavior:smooth;
}

.custom-nav{
background:rgba(0,0,0,.9);
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
}

.hero h1{
font-size:4rem;
font-weight:bold;
}

.profile-img{
width:350px;
height:350px;
border-radius:50%;
object-fit:cover;
border:5px solid #0d6efd;
animation:float 4s infinite ease-in-out;
}

@keyframes float{

0%{transform:translateY(0);}
50%{transform:translateY(-20px);}
100%{transform:translateY(0);}

}

.section{
padding:100px 0;
}

.section-title{
text-align:center;
margin-bottom:60px;
font-weight:bold;
}

.dark-section{
background:#05111b;
}

.custom-card{
background:#112e42;
color: black;
border:none;
border-radius:15px;
transition:.4s;
}

.custom-card:hover{
transform:translateY(-10px);
}

.progress{
height:15px;
}

.progress-bar{
background:#0d6efd;
}

.service-card{
background:#112e42;
padding:30px;
text-align:center;
border-radius:15px;
transition:.4s;
}

.service-card:hover{
transform:scale(1.05);
}

.service-card i{
font-size:3rem;
color:#0d6efd;
}

.about-img{
width:100%;
max-width:350px;
border-radius:20px;
}

.certificate-img{
width:100%;
border-radius:15px;
transition:.4s;
}

.certificate-img:hover{
transform:scale(1.05);
}

footer{
background:black;
}

.form-control{
background:#112e42;
border:none;
color:white;
}
.social-btn{
  color:azure;
}
